# Node.js
node_modules/
# Logs
logs/
*.log
# Dependency directories
pids/
*.pid
*.seed
*.pid.lock
# Build output
dist/
build/
out/
# Environment variables
.env
# IDE files
.vscode/
.idea/
# Testing
coverage/
# Miscellaneous
.DS_Store
Thumbs.db

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa

_IGNORE_*